networks:
  dataverse-net:
    driver: bridge

volumes:
  dataverse-datacore_db_data:
  dataverse-main_db_data:

services:
  # DATABASES
  dataverse-main_db:
    container_name: dataverse-main_db
    image: postgres:18
    volumes:
      - dataverse-main_db_data:/var/lib/postgresql/18/docker
      - ./configs/init-main-db.sh:/docker-entrypoint-initdb.d/init-main-db.sh
    environment:
      POSTGRES_USER: ${DATAHUB_DB_USER}
      POSTGRES_PASSWORD: ${DATAHUB_DB_PASSWORD}
      POSTGRES_DB: ${DATAHUB_DB_NAME}

      # second db for dataview
      DATAVIEW_DB_USER: ${DATAVIEW_DB_USER}
      DATAVIEW_DB_PASSWORD: ${DATAVIEW_DB_PASSWORD}
      DATAVIEW_DB_NAME: ${DATAVIEW_DB_NAME}

      # db for kong
      KONG_DB_USER: ${KONG_DB_USER}
      KONG_DB_PASSWORD: ${KONG_DB_PASSWORD}
      KONG_DB_NAME: ${KONG_DB_NAME}
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${DATAHUB_DB_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - ${MAIN_DB_PORT_PUBLIC}:5432
    networks:
      - dataverse-net
    restart: on-failure

  dataverse-datacore_db:
    container_name: dataverse-datacore_db
    image: postgres:18
    volumes:
      - dataverse-datacore_db_data:/var/lib/postgresql/18/docker
    environment:
      POSTGRES_USER: ${DATACORE_DB_USER}
      POSTGRES_PASSWORD: ${DATACORE_DB_PASSWORD}
      POSTGRES_DB: ${DATACORE_DB_NAME}
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${DATACORE_DB_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - ${DATACORE_DB_PORT_PUBLIC}:5432
    networks:
      - dataverse-net
    restart: on-failure

  dataverse-datacore_redis:
    container_name: dataverse-datacore_redis
    image: redis:8
    # ports:
    #   - 6369:6379
    networks:
      - dataverse-net
    restart: on-failure

  # MAIN SERVICES
  dataverse-datacore:
    container_name: dataverse-datacore
    image: dataverse-datacore
    build:
      context: .
      dockerfile: ./configs/polban-datacore/Dockerfile
      args:
        WORKDIR: ./services/polban-datacore/backend
        CONFDIR: ./configs/polban-datacore
    depends_on:
      dataverse-datacore_db:
        condition: service_healthy
      dataverse-datacore_redis:
        condition: service_started
    environment:
      HOST: 0.0.0.0
      PORT: 3000
      DATABASE_URL: postgresql://${DATACORE_DB_USER}:${DATACORE_DB_PASSWORD}@dataverse-datacore_db:5432/${DATACORE_DB_NAME}?schema=public
      REDIS_HOST: dataverse-datacore_redis
      REDIS_PORT: 6379
      DATAHUB_API_URL: dataverse-datahub
      DATAHUB_API_PORT: 80
    expose:
      - 3000
    # ports:
    #   - 3000:3000
    networks:
      - dataverse-net
    restart: on-failure

  dataverse-datacore_web:
    container_name: dataverse-datacore_web
    image: dataverse-datacore_web
    build:
      context: .
      dockerfile: ./configs/polban-datacore-web/Dockerfile
      args:
        WORKDIR: ./services/polban-datacore/frontend
        CONFDIR: ./configs/polban-datacore-web
    depends_on:
      - dataverse-datacore
    # TODO: Add environment variables for datacore_web
    environment:
      DATACORE_API_URL: dataverse-datacore:3000
    # ports:
    #   - 3001:80
    networks:
      - dataverse-net
    restart: on-failure

  dataverse-datahub:
    container_name: dataverse-datahub
    image: dataverse-datahub
    build:
      context: .
      dockerfile: ./configs/polban-datahub/Dockerfile
      args:
        WORKDIR: ./services/polban-datahub/datahub-backend
        CONFDIR: ./configs/polban-datahub
    depends_on:
      dataverse-main_db:
        condition: service_healthy
    environment:
      APP_KEY: ${DATAHUB_APP_KEY}
      APP_URL: ${DATAHUB_APP_URL}
      DB_CONNECTION: pgsql
      DB_HOST: dataverse-main_db
      DB_PORT: 5432
      DB_DATABASE: ${DATAHUB_DB_NAME}
      DB_USERNAME: ${DATAHUB_DB_USER}
      DB_PASSWORD: ${DATAHUB_DB_PASSWORD}
    # ports:
    #   - 3002:80
    networks:
      - dataverse-net
    restart: on-failure

  dataverse-dataview:
    container_name: dataverse-dataview
    image: dataverse-dataview
    build:
      context: .
      dockerfile: ./configs/polban-dataview/Dockerfile
      args:
        WORKDIR: ./services/polban-dataview/laravel-vue
        CONFDIR: ./configs/polban-dataview
    depends_on:
      dataverse-main_db:
        condition: service_healthy
      dataverse-datacore:
        condition: service_started
    environment:
      APP_KEY: ${DATAVIEW_APP_KEY}
      APP_URL: ${DATAVIEW_APP_URL}
      DB_CONNECTION: pgsql
      DB_HOST: dataverse-main_db
      DB_PORT: 5432
      DB_DATABASE: ${DATAVIEW_DB_NAME}
      DB_USERNAME: ${DATAVIEW_DB_USER}
      DB_PASSWORD: ${DATAVIEW_DB_PASSWORD}
      DATACORE_API_URL: dataverse-datacore:3000
    # ports:
    #   - 3003:80
    networks:
      - dataverse-net
    restart: on-failure

  # API GATEWAY
  dataverse_gateway_bootstrap:
    container_name: dataverse_gateway_bootstrap
    image: kong:3.9
    depends_on:
      dataverse-main_db:
        condition: service_healthy
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: dataverse-main_db
      KONG_PG_PORT: 5432
      KONG_PG_USER: ${KONG_DB_USER}
      KONG_PG_PASSWORD: ${KONG_DB_PASSWORD}
      KONG_PG_DATABASE: ${KONG_DB_NAME}
      KONG_PASSWORD: ${KONG_PASSWORD}
    command: kong migrations bootstrap
    networks:
      - dataverse-net
    restart: on-failure

  dataverse_gateway:
    container_name: dataverse_gateway
    image: kong:3.9
    depends_on:
      dataverse_gateway_bootstrap:
        condition: service_completed_successfully
      dataverse-main_db:
        condition: service_healthy
      dataverse-datacore:
        condition: service_started
      dataverse-datacore_web:
        condition: service_started
      dataverse-datahub:
        condition: service_started
      dataverse-dataview:
        condition: service_started
    volumes:
      - ./configs/kong.yml:/etc/kong/kong.yml
    environment:
      # KONG_DECLARATIVE_CONFIG: /etc/kong/kong.yml # not used

      KONG_DATABASE: postgres
      KONG_PG_HOST: dataverse-main_db
      KONG_PG_PORT: 5432
      KONG_PG_USER: ${KONG_DB_USER}
      KONG_PG_PASSWORD: ${KONG_DB_PASSWORD}
      KONG_PG_DATABASE: ${KONG_DB_NAME}
      KONG_PASSWORD: ${KONG_PASSWORD}

      KONG_PROXY_LISTEN: 0.0.0.0:${KONG_PROXY_PORT}
      KONG_ADMIN_LISTEN: 0.0.0.0:${KONG_API_PORT}
      KONG_ADMIN_GUI_LISTEN: 0.0.0.0:${KONG_GUI_PORT}
      KONG_ADMIN_GUI_PATH: /
      KONG_ADMIN_GUI_URL: ${KONG_GUI_URL_PUBLIC}
      KONG_ADMIN_GUI_API_URL: ${KONG_GUI_API_URL_PUBLIC}
    ports:
      - ${KONG_PROXY_PORT_PUBLIC}:${KONG_PROXY_PORT}
      - ${KONG_API_PORT_PUBLIC}:${KONG_API_PORT}
      - ${KONG_GUI_PORT_PUBLIC}:${KONG_GUI_PORT}
    networks:
      - dataverse-net
    restart: on-failure

  deck:
    container_name: dataverse_deck
    image: kong/deck:latest
    volumes:
      - ./configs:/configs
    networks:
      - dataverse-net
    entrypoint: sleep
    command: infinity
